ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
body{
background-image:url('https://wallpaperscraft.com/image/planet_light_spots_space_86643_1920x1080.jpg');
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
.header {
    width: 50%;
    height: auto;
    background-color: #eef3f5;
    padding-top: 0px;
}
.headerContent {
    width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: "Verdana";
    font-size: 15;
}
.headerContent a img {
    width: 1000px;
    height: 200px;
    margin: 0px auto;
    display: block;
}
.nav {
	border-radius: 25px;
	border: 2px solid #000066;
    margin-top: -5px;
    height: 35px;
    background: darkgray;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav ul li {
    list-style: none;
}
/* This has the secret to no blue urls! */
.nav ul li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    color: white;
}
.nav ul li a:hover {
    color: skyblue;
}
.headerBreak {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #a7e0ee;
}
.dwnload ul {
    margin: 0;
    padding: 0;
}
.dwnload ul li {
    list-style: none;
}
.dwnload ul li a {
    text-decoration: none;
    display: absolute;
    position: relative;
    top: 0px;
    left: -825px;
    padding: 2px 10px;
    color: white;

}
.dwnload ul li a:hover {
    color: skyblue;
}
.dwnload {
	font-family: "Verdana";
}